body{
  background-color: #A8CCC0;
}
.car{
  max-width: 18rem;
  position: absolute;
  top: 6rem;
  left: 1rem;
}
.car-img{
  max-width: 100%;
}
.north{
  transform: rotate(270deg);
}
.south{
  transform: rotate(90deg);
}
.east{
  transform: rotate(0deg);
}
.west{
  transform: rotate(180deg);
}
.transition{
  transition: transform,0.3s,linear;
}
