body{
  background-color: #A8CCC0;
}
.car{
  max-width: 10rem;
  position: absolute;
  top: 0rem;
  left: 2rem;
}
.car-img{
  max-width: 100%;
}
.north{
  transform: rotate(-0.25turn);
}
.south{
  transform: rotate(0.25turn);
}
.east{
  transform: rotate(0turn);
}
.west{
  transform: rotate(0.5turn);
}
